<div class="d-flex flex-row overflow-hidden">
	<a
		class="ext-link lastfm"
		href="{{ LAST_FM_USER_URL }}{{ username }}"
		ngbTooltip="Last.fm"
		rel="noreferrer noopener"
		target="_blank"
	></a>
	<a
		class="ext-link sergei"
		href="{{ SERGEI_USER_URL }}{{ username }}"
		ngbTooltip="SERGEI"
		rel="noreferrer noopener"
		target="_blank"
	></a>
	<a
		class="ext-link scatterfm"
		href="{{ SCATTER_FM_USER_URL }}{{ username }}"
		ngbTooltip="ScatterFM"
		rel="noreferrer noopener"
		target="_blank"
	></a>
	<a
		class="ext-link explr"
		href="{{ EXPLR_FM_USER_URL }}{{ username }}"
		ngbTooltip="Explr"
		rel="noreferrer noopener"
		target="_blank"
	></a>
</div>
