<div class="d-flex flex-row overflow-hidden">
	<a
		href="{{ LAST_FM_USER_URL }}{{ username }}"
		class="ext-link lastfm"
		rel="noreferrer noopener"
		target="_blank"
		ngbTooltip="Last.fm"
	></a>
	<a
		href="{{ SERGEI_USER_URL }}{{ username }}"
		class="ext-link sergei"
		rel="noreferrer noopener"
		target="_blank"
		ngbTooltip="SERGEI"
	></a>
	<a
		href="{{ LAST_MILESTONES_USER_URL }}{{ username }}"
		class="ext-link milestones"
		rel="noreferrer noopener"
		target="_blank"
		ngbTooltip="LastMilestones"
	></a>
	<a
		href="{{ SCATTER_FM_USER_URL }}{{ username }}"
		class="ext-link scatterfm"
		rel="noreferrer noopener"
		target="_blank"
		ngbTooltip="ScatterFM"
	></a>
	<a
		href="{{ EXPLR_FM_USER_URL }}{{ username }}"
		class="ext-link explr"
		rel="noreferrer noopener"
		target="_blank"
		ngbTooltip="Explr"
	></a>
</div>
