<ul *ngIf="!concise; else conciseView" class="list-group">
	<li
		class="list-group-item"
		*ngFor="
			let f of friendsService.friends
				| async
				| sort: intervalKey as friends;
			index as i
		"
	>
		<div class="flex-cont d-flex flex-column">
			<div class="title mb-1 d-flex flex-row">
				<div class="flex-shrink-0 mr-1">
					{{ i + 1 }}.
					<a routerLink="/user/{{ f.username }}" class="username">
						{{ f.username }}
					</a>
				</div>
				<div class="flex-shrink-1 ellipsis">
					<span *ngIf="f.currentTrack">
						<span ngbTooltip="Currently listening">
							<fa name="play-circle"></fa>
						</span>
						{{ f.currentTrack | track }}
					</span>
				</div>
				<div class="flex-grow-1"></div>
				<app-links></app-links>
			</div>
			<div class="text-right ellipsis">
				<b>{{ f | tracks: intervalKey }}</b>
				scrobbles ({{ f | tracks: intervalKey | tracksPerDay: from:to }}
				per day)
			</div>
			<div *ngIf="i > 0" class="text-right behind ellipsis">
				<small>
					{{ f | tracksBehind: friends[0]:intervalKey }}
				</small>
			</div>
			<div *ngIf="i > 1" class="text-right behind ellipsis">
				<small>
					{{ f | tracksBehind: friends[i - 1]:intervalKey }}
				</small>
			</div>
			<div
				*ngIf="f | lastTrack: intervalKey as last"
				class="text-right ellipsis"
			>
				Scrobbled
				<b>{{ last | track }}</b>
				{{ last.dateRelStr }}
			</div>
		</div>
	</li>
</ul>
<ng-template #conciseView>
	<ul class="list-group">
		<li
			class="list-group-item"
			*ngFor="let friend of friends; let i = index"
		>
			<div class="flex-cont d-flex flex-column">
				<div class="title mb-1 d-flex flex-row flex-wrap">
					<div class="flex-shrink-0">
						{{ i + 1 }}.
						<a
							routerLink="/user/{{ friend.username }}"
							class="username"
						>
							{{ friend.username }}
						</a>
						&nbsp;
						<span ngbTooltip="Currently listening">
							<fa
								*ngIf="friend.isNowPlaying"
								name="play-circle"
							></fa>
						</span>
					</div>
					<div class="flex-grow-1"></div>
					<div
						class="text-right"
						ngbTooltip="{{ friend.tracksPerDay }} per day"
					>
						<strong>{{ friend.tracks }}</strong>
					</div>
				</div>
			</div>
		</li>
	</ul>
</ng-template>
