<ul *ngIf="!concise; else conciseView" class="list-group">
	<li
		class="list-group-item"
		*ngFor="let friend of friends | sort; let i = index"
	>
		<div class="flex-cont d-flex flex-column">
			<div class="title mb-1 d-flex flex-row">
				<div class="flex-shrink-0 mr-1">
					{{ i + 1 }}.
					<a
						routerLink="/user/{{ friend.username }}"
						class="username"
					>
						{{ friend.username }}
					</a>
					&nbsp;
					<span ngbTooltip="Currently listening">
						<fa *ngIf="friend.nowPlaying" name="play-circle"></fa>
					</span>
				</div>
				<div class="flex-grow-1"></div>
				<app-links></app-links>
			</div>
			<div class="text-right ellipsis">
				<strong>{{ friend.tracks }}</strong>
				scrobbles ({{ friend.tracks | tracksPerDay: from:to }}
				per day)
			</div>
			<div *ngIf="i > 0" class="text-right behind ellipsis">
				<small>
					{{ friends[0].tracks - friend.tracks }} behind
					{{ friends[0].username }}
				</small>
			</div>
			<div *ngIf="i > 1" class="text-right behind ellipsis">
				<small>
					{{ friends[i - 1].tracks - friend.tracks }} behind
					{{ friends[i - 1].username }}
				</small>
			</div>
			<div class="text-right ellipsis" *ngIf="friend.latestTrack">
				{{ friend.trackStr }}
			</div>
			<div class="text-right ellipsis" *ngIf="friend.latestTrack">
				{{ friend.nowPlaying ? "Scrobbling now" : friend.trackRelDate }}
			</div>
		</div>
	</li>
</ul>
<ng-template #conciseView>
	<ul class="list-group">
		<li
			class="list-group-item"
			*ngFor="let friend of friends; let i = index"
		>
			<div class="flex-cont d-flex flex-column">
				<div class="title mb-1 d-flex flex-row flex-wrap">
					<div class="flex-shrink-0">
						{{ i + 1 }}.
						<a
							routerLink="/user/{{ friend.username }}"
							class="username"
						>
							{{ friend.username }}
						</a>
						&nbsp;
						<span ngbTooltip="Currently listening">
							<fa
								*ngIf="friend.nowPlaying"
								name="play-circle"
							></fa>
						</span>
					</div>
					<div class="flex-grow-1"></div>
					<div
						class="text-right"
						ngbTooltip="{{ friend.tracksPerDay }} per day"
					>
						<strong>{{ friend.tracks }}</strong>
					</div>
				</div>
			</div>
		</li>
	</ul>
</ng-template>
