<app-csv class="csv" [data]="friends" [filename]="'last-week'" [options]="options">
	<button class="btn btn-sm btn-primary">Download as CSV</button>
</app-csv>
<table>
	<thead>
	<tr>
		<th>User</th>
		<th>Scrobbles</th>
		<th>Scrobbles per day</th>
	</tr>
	</thead>
	<tbody>
	<tr *ngFor="let friend of friends">
		<td><a routerLink="/user/{{friend.username}}" class="text-dark">{{friend.username}}</a></td>
		<td>
			<strong>{{friend.tracks}}</strong>
		</td>
		<td>
			{{friend.tracksPerDay}}
		</td>
	</tr>
	</tbody>
</table>
