<nav class="navbar navbar-expand-md navbar-dark bg-dark">
	<div class="container">
		<a class="navbar-brand" routerLink="/home">this-week</a>
		<!--<div class="navbar-nav flex-grow-1"></div>-->
		<button class="navbar-toggler navbar-toggler-right" type="button" (click)="isCollapsed = !isCollapsed">
			<span class="navbar-toggler-icon"></span></button>
		<div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"  [ngClass]="{'active': activeLink === 0}">
					<a class="nav-link" (click)="select(0)" routerLink="this/week">this.week</a>
				</li>
				<li class="nav-item"  [ngClass]="{'active': activeLink === 1}">
					<a class="nav-link" (click)="select(1)" routerLink="last/week">last.week</a>
				</li>
				<li class="nav-item"  [ngClass]="{'active': activeLink === 2}">
					<a class="nav-link" (click)="select(2)" routerLink="this/month">this.month</a>
				</li>
				<li class="nav-item"  [ngClass]="{'active': activeLink === 3}">
					<a class="nav-link" (click)="select(3)" routerLink="last/month">last.month</a>
				</li>
				<li class="nav-item"  [ngClass]="{'active': activeLink === 4}">
					<a class="nav-link" (click)="select(4)" routerLink="this/year">this.year</a>
				</li>
				<li class="nav-item"  [ngClass]="{'active': activeLink === 5}">
					<a class="nav-link" (click)="select(5)" routerLink="last/year">last.year</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
