<div class="d-flex flex-column">
	<span class="d-flex flex-row">
		<button class="btn btn-sm btn-primary ellipsis mr-1" (click)="reload()" [disabled]="!filled">Last updated: {{lastUpdated}}</button>
		<button class="btn btn-sm btn-secondary" (click)="concise = !concise">{{concise ? "Expand" : "Collapse"}}</button>
	</span>
	<div class="my-1">
		<app-list *ngIf="filled; else loading" [friends]="friends" [concise]="concise"></app-list>
	</div>
</div>
<ng-template #loading>
	Loading&hellip;
</ng-template>
