<div class="max-30">
	<div class="d-flex flex-row">
		<input class="mr-1 flex-shrink-1 form-control"
			   name="From"
			   placeholder="From"
			   (click)="dFrom.toggle()"
			   type="text"
			   [(ngModel)]="fromStr"
			   ngbDatepicker
			   #dFrom="ngbDatepicker"/>
		<input class="flex-shrink-1 form-control"
			   name="To"
			   placeholder="To"
			   (click)="dTo.toggle()"
			   type="text"
			   [(ngModel)]="toStr"
			   ngbDatepicker
			   #dTo="ngbDatepicker"/>
	</div>
	<button class="btn btn-sm btn-primary my-1 ellipsis" (click)="reload()">Calculate</button>
	<ng-container *ngIf="filled; else loading">
		<div class="d-sm-none mb-1">
			<app-list [friends]="friends" [concise]="true"></app-list>
		</div>
		<div class="d-none d-sm-block">
			<app-csv class="csv" [data]="friends" [filename]="'last ' + timeframe" [options]="options">
				<button class="btn btn-sm btn-primary">Download as CSV</button>
			</app-csv>
			<div class="my-1">
				<app-table [friends]="friends"></app-table>
			</div>
		</div>
	</ng-container>
</div>
<ng-template #loading>
	<ng-container *ngIf="content">
		<ngb-progressbar type="success" [value]="numFilled" [max]="friends.length">
			{{numFilled}} of {{friends.length}}
		</ngb-progressbar>
	</ng-container>
</ng-template>
