<div class="contain">
	<form (keyup.enter)="submit()" class="form-signin">
		<h1 *ngIf="error" class="h5 mb-3 font-weight-normal text-danger">
			{{ error }}.
		</h1>
		<h1 class="h3 mb-3 font-weight-normal">
			<label for="inputUsername"
				>Please enter your Last.fm username.</label
			>
		</h1>
		<input
			[(ngModel)]="username"
			name="inputUsername"
			id="inputUsername"
			class="form-control"
			placeholder="Username"
			autocapitalize="none"
			autofocus
		/>
		<a
			(keyup.space)="submit()"
			routerLink="/user/{{ username }}"
			class="btn btn-lg btn-success btn-block mt-2"
			>Compete</a
		>
	</form>
</div>
