<div class="container">
	<h1>Race for {{currentWeek ? "this" : "last"}}.week</h1>
	<p>
		<a *ngIf=currentWeek routerLink="/user/{{user.username}}/last-week">Click here for last.week</a>
		<a *ngIf=!currentWeek routerLink="/user/{{user.username}}/this-week">Click here for this.week</a>
	</p>
	<p *ngIf=currentWeek>
		<button class="btn btn-sm btn-primary" (click)="reload()" [disabled]="!filled">Update</button>
		Last updated: {{lastUpdated}}
	</p>
	<app-table *ngIf="filled; else loading" [friends]="friends"></app-table>
	<button class="btn btn-sm btn-outline-success" (click)="concise = !concise">Concise View</button>
	<app-list *ngIf="filled; else loading" [friends]="friends" [concise]="concise"></app-list>
</div>
<ng-template #loading>
	Loading&hellip;
</ng-template>
